
@{
    ViewBag.Title = "Profile";
}

<div class="container text-center">
    <h3>Welcom Home</h3>
</div>
<!--Card built for profile img and info to be displayed-->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" float-left style="width: 18rem;height: 100%">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">UserName</h5>
                    <p class="card-text">User Info X</p>
                    <p class="card-text">User Info Y</p>
                    <p class="card-text">User Info Z</p>

                </div>
            </div>
        </div>
        <!-- need to add in a way to generate favorited questions into these lists-->
        <div class="col">
            <div class"row">
                <div class="col ">
                    <ul class="list-group text-center">
                        <p>Favorited Questions</p>
                        <a href="#" class="list-group-item">Question</a>
                        <a href="#" class="list-group-item">Question</a>
                        <a href="#" class="list-group-item">Question</a>
                        <a href="#" class="list-group-item">Question</a>
                        <a href="#" class="list-group-item">Question</a>
                        <a href="#" class="list-group-item">Question</a>
                    </ul>
                </div>
                <div class="col">
                    <ul class="list-group text-center">
                        <p>Answered Questions</p>
                        <a href="#" class="list-group-item">Question</a>
                        <a href="#" class="list-group-item">Question</a>
                        <a href="#" class="list-group-item">Question</a>
                        <a href="#" class="list-group-item">Question</a>
                        <a href="#" class="list-group-item">Question</a>
                        <a href="#" class="list-group-item">Question</a>
                    </ul>
                </div>
                

            </div>
        </div>
    </div>
</div>

<!--pie chart from google charts-->
<div class="container float-right">
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {

                // Need to se and add vars for questions answered
                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Answered'],
                    ['Amazon', 11],
                    ['Google', 2],
                    ['Microsoft', 2],
                    ['IBM', 2],
                    ['GD', 7]
                ]);

                var options = {
                    title: 'Company Questions Answered'
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                chart.draw(data, options);
            }
        </script>
    </head>
    <body>
        <div id="piechart" style="width: 900px; height: 500px;"></div>
    </body>
</div>

