
@{
    ViewBag.Title = "Home Page";
    //var db = WebMatrix.Data.Database.Open("DefaultConnection");
    //string queryID = "SELECT Id FROM dbo.Questions ORDER BY RAND() LIMIT 1";
    //var randomID = db.QueryValue(queryID);
    // Issue with querying database, breaks at db.QueryValue

    //Place holder for random value
    Random rnd = new Random();
    int num = rnd.Next(0, 10);
}
<div class="jumbotron">
    <div class="contextCanvas">
        <h1 style="position:relative; z-index:1;" class="text-center">SpeechPrep</h1>
        <p style="position:relative; z-index:1; text-shadow: 1px 1px 2px rgba(0,0,0, 0.25);" class="text-center lead">For Professionals By Professionals</p>
        <p style="position:relative; z-index:1; " class="text-center"><a href="" data-toggle="modal" data-target="#userLogin" class="btn btn-outline-info btn-lg">Register Today! &raquo;</a></p>
        <canvas class="contextCanvasBG"></canvas>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-md-6 text-right">
            <h2 class="text-center">Don't Limit Yourself</h2>
            <blockquote class="text-center">
                <p>
                    "On average, each corporate job offer attracts 250 resumes. Of those candidates, 4 to 6 will get called for an interview, and only one will get the job."
                </p>
            </blockquote>
            <cite>(Glassdoor)</cite>

        </div>
        <div class="col-md-6 text-right">
            <h2 class="text-center">Soft Skills Are Key</h2>
            <blockquote>
                <p class="text-center">
                    How many interviews come before an offer?
                    <br />
                    According to recruiters:
                    <ul class="text-center" style="list-style-type:none;">
                        <li>Three - 51%</li>
                        <li>Four - 22%</li>
                        <li>Two - 17%</li>
                        <li>Five or More - 9%</li>
                        <li>One - 1%</li>
                    </ul>
                </p>
            </blockquote>
            <cite>(2017 Recruiter Sentiment Study MRI Network)</cite>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 text-center">
            <h2>Top Tech Company Questions</h2>
            <p>
                Amazon | Microsoft | Google | Facebook | Netflix
            </p>
        </div>
        <div class="col-md-6 text-center">
            <h2 class="text-center">Test our feedback system today</h2>
            <p>
                Try our behavioral interview feedback system today free of charge! Get verbal and physical feedback and share it with your
                peers on social media to get even more feedback!
            </p>
            <p>


                @{
                //TODO: Add random id value from database into id
                 }
            <span class="text-center">@Html.ActionLink(linkText: "Random Question", actionName: "Id/", controllerName: "Question", routeValues: new { id = num, @class = "text-center" }, htmlAttributes: null)</span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="text-center col-lg-12">
            <h2>S.T.A.R Method to Interview Questions</h2>
        </div>
        <div class="col-md-3">
            <h3>Situation</h3>
            <p>
                Describe the situation that you were in, or the task that you needed to accomplish.
            </p>
        </div>
        <div class="col-md-3">
            <h3>Task</h3>
            <p>
                What goal were you working toward? Give a detailed explanation of your process.
            </p>
        </div>
        <div class="col-md-3">
            <h3>Action</h3>
            <p>
                Describe the actions you took to address the situation with an appropriate amount of detail, and keep the focus on you.
            </p>
        </div>
        <div class="col-md-3">
            <h3>Results</h3>
            <p>
                Describe the outcome of your actions and don’t be shy about taking credit for your behavior.
            </p>
        </div>
    </div>
</div>

