/* TODO: refactor for BEM standards*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, nav {
    font-family: 'Abril Fatface', cursive;
}

p, span {
    font-family: 'Roboto', sans-serif;
}
#navBarShadowIn {
    -webkit-box-shadow: 0 8px 5px -5px #777;
    -moz-box-shadow: 0 8px 5px -5px #777;
    box-shadow: 0 8px 5px -5px #777;
    transition: box-shadow 0.7s;
    transition-timing-function: linear;
}

#navBarShadowOut {
    -webkit-box-shadow: 0 0px 0px 0px;
    -moz-box-shadow: 0 0px 0px -0px;
    box-shadow: 0 0px 0px 0px;
    transition: box-shadow 0.5s;
    transition-timing-function: ease-out;
    opacity: 0.8;
}

.nav-link:hover{
    color: #48F2E3 !important;
}
#webCamVideo {
    width: 50%;
    height: 50%;
    background-color: #666;
    margin-left: 25%;
}


/**Index JumboTron Particle Styling**/
.jumbotron{
    background-color: white;
}
.contextCanvas .contextCanvasBG {
    display: block;
    position: absolute;
    /*width: 100% !important;
    height: 14rem !important;*/
    top: -55.1rem;
    left: 0rem;
    z-index: 0;
}
@media only screen and (max-width: 600px) {
    .contextCanvas .contextCanvasBG {
        top: -40.1rem;
    }
}


/**Question Styling**/
#questionStyle {
    border-bottom: 1px solid black;
}

.cardQuestion {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

a.custom-card,
a.custom-card:hover {
    color: inherit;
    display: inherit;
    text-decoration: none;
    width:100%;
}
    .cardQuestion p::before {
        content:open-quote;
    }

    .cardQuestion p::after {
        content: close-quote;
    }

    .cardQuestion p {
        margin-bottom: 0rem !important;
        font-style: italic;
        border-left:2px black solid;
        padding-left: 0.7rem;
    }
    .cardQuestion:hover {
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.container{
    padding-top: 5rem;
}
main{
    margin-top: 1rem;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 6rem; /* Margin bottom by footer height */
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    border-top:1px solid #808080;
}
/* Stopwatch area */
#timerContainer {
    font-family: 'Abril Fatface', cursive;
    font-weight: 300;
    width: 700px;
    margin: 20px auto;
    min-height: 60px;
    border-top: 0px;
}

.timer, .reset {
    float: left;
    width: 54%;
    padding: 20px 0;
    font-size: 24px;
    text-align: center;
    color: #fff;
    background: #A90000;
    cursor: pointer
}

.reset {
    background: #550000;
    color: white;
    width: 14.9%;
    border-left: 1px solid #990000;
}

    .reset:hover {
        background: #CC0000;
    }

.lighter {
    background: #CC0000
}

/* End Stopwatch*/