body {
    padding-top: 50px;
    padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, nav {
    font-family: 'Abril Fatface', cursive;
}

p, span {
    font-family: 'Roboto', sans-serif;
}
#navBarShadowIn {
    -webkit-box-shadow: 0 8px 5px -5px #777;
    -moz-box-shadow: 0 8px 5px -5px #777;
    box-shadow: 0 8px 5px -5px #777;
    transition: box-shadow 0.7s;
    transition-timing-function: linear;
}

#navBarShadowOut {
    -webkit-box-shadow: 0 0px 0px 0px;
    -moz-box-shadow: 0 0px 0px -0px;
    box-shadow: 0 0px 0px 0px;
    transition: box-shadow 0.5s;
    transition-timing-function: ease-out;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
