
<div class="row">
    <div class="col-lg-12">
        <form class="form-inline justify-content-center">

                <label class="my-1" for="sort">Sort by: </label>
                <select class="custom-select mx-2">
                    <option selected>Company</option>
                    <option value="1">Amazon</option>
                    <option value="2">Microsoft</option>
                    <option value="3">Google</option>
                </select>

                <label class="my-1" for="inlineFormCustomSelectPref">Sort by :</label>

                <select class="custom-select mx-2">
                    <option selected>Values</option>
                    <option value="1">Customer Obsession</option>
                    <option value="2">Leadership</option>
                    <option value="3">Ownership</option>
                </select>
                @{
                    //TODO : Change select option on hover background color to correct color scheme.
                }

                <label class="my-1" for="inlineFormCustomSelectPref">Questions per Page :</label>
                <select class="custom-select mx-2 " style="">
                    <option selected>10</option>
                    <option value="1">20</option>
                    <option value="2">50</option>
                    <option value="3">100</option>
                </select>
                <button type="submit" class="btn btn-outline-info my-1">Submit</button>

            </form>

    </div>

</div>
