@model SpeechPrep.ViewModels.QuestionsListViewModel
@{

}
@foreach (var question in Model.QuestionList)
{
    <div class="row">
        <a href="@Url.Action(actionName: "Id/", controllerName: "Question", routeValues: new { id = question.Id })" class="custom-card">
            <div class="col-lg-6 mx-auto my-1">
                <div class="card cardQuestion">
                    <div class="card-body">
                        <p>@question.InterviewQuestion</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

}