@*@model  SpeechPrep.Models.Question>*@
@{
    ViewBag.Title = "Master Behavioral Interview Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <h2 class="text-center">Master Behavioral Interview Questions</h2>

        @* Navigational Bar for Sorting through the questions *@
        @Html.Partial("_QuestionNavSort")


        @* Filtered Question List *@
        @Html.Partial("_QuestionSort")

        <nav class="mt-5">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>

