@*@model  IEnumerable<SpeechPrep.Models.Question>*@
@{
    ViewBag.Title = "Master Behavioral Interview Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2 class="text-center">Master Behavioral Interview Questions</h2>

    @* Navigational Bar for Sorting through the questions *@
    @Html.Partial("_QuestionNavSort")

    @* Filtered Question List *@
    @Html.Partial("_QuestionSort")

</div>

