@model IEnumerable<SpeechPrep.Models.Question>
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <h2 class="text-center">Behavioral Interview Questions</h2>
        <span>@Html.ActionLink("Random Question", "Random", "Question")</span>

        @foreach (var question in Model)
        {

            <p>@question.InterviewQuestion</p> 
        }

    </div>

