@model SpeechPrep.Models.Question
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Random Interview Question</h2>
    <p>@Model.InterviewQuestion</p>
</div>
